.elementor-202 .elementor-element.elementor-element-ef579e5 .agrarium-heading {
    text-align: left;
}

.elementor-202 .elementor-element.elementor-element-7daed72>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3 .icon-box-item {
    text-align: left;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3 .icon-container {
    width: 36px;
    height: 36px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3 .icon-container .icon {
    width: 36px;
    height: 36px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3 .icon-container .icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-202 .elementor-element.elementor-element-b10d6c3 .icon-box-title {
    font-weight: 600;
    line-height: 27px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3.icon-position-left .icon-box-item .icon-container {
    margin-right: 20px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3.icon-position-right .icon-box-item .icon-container {
    margin-left: 20px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3.icon-position-top .icon-box-item .icon-container {
    margin-bottom: 20px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3 .icon-box-info {
    line-height: 35px;
}

.elementor-202 .elementor-element.elementor-element-b10d6c3>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025 .icon-box-item {
    text-align: left;
}

.elementor-202 .elementor-element.elementor-element-e4ba025 .icon-container {
    width: 36px;
    height: 36px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025 .icon-container .icon {
    width: 36px;
    height: 36px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025 .icon-container .icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-202 .elementor-element.elementor-element-e4ba025 .icon-box-title {
    font-weight: 600;
    line-height: 27px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025.icon-position-left .icon-box-item .icon-container {
    margin-right: 20px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025.icon-position-right .icon-box-item .icon-container {
    margin-left: 20px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025.icon-position-top .icon-box-item .icon-container {
    margin-bottom: 20px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025 .icon-box-info {
    line-height: 35px;
}

.elementor-202 .elementor-element.elementor-element-e4ba025>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c .icon-box-item {
    text-align: left;
}

.elementor-202 .elementor-element.elementor-element-a173f3c .icon-container {
    width: 36px;
    height: 36px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c .icon-container .icon {
    width: 36px;
    height: 36px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c .icon-container .icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-202 .elementor-element.elementor-element-a173f3c .icon-box-title {
    font-weight: 600;
    line-height: 27px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c.icon-position-left .icon-box-item .icon-container {
    margin-right: 20px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c.icon-position-right .icon-box-item .icon-container {
    margin-left: 20px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c.icon-position-top .icon-box-item .icon-container {
    margin-bottom: 20px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c .icon-box-info {
    line-height: 35px;
}

.elementor-202 .elementor-element.elementor-element-a173f3c>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-202 .elementor-element.elementor-element-3d6d5ad .image-widget {
    text-align: center;
}

.elementor-202 .elementor-element.elementor-element-3d6d5ad .image-container {
    float: none;
}

.elementor-202 .elementor-element.elementor-element-3d6d5ad img.main-image {
    max-width: 160%;
}

.elementor-202 .elementor-element.elementor-element-3d6d5ad>.elementor-widget-container {
    margin: -30px 0px 0px -100px;
}

.elementor-202 .elementor-element.elementor-element-ebe797c {
    margin-top: 190px;
    margin-bottom: 0px;
}

.elementor-202 .elementor-element.elementor-element-ab3c997 iframe {
    height: 681px;
    filter: brightness(87%) contrast(98%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.elementor-202 .elementor-element.elementor-element-3d4a9c6 {
    margin-top: 0%;
    margin-bottom: 0%;
    z-index: 1;
}

.elementor-202 .elementor-element.elementor-element-2ff35ab>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 15px 0px 0px;
}

.elementor-202 .elementor-element.elementor-element-a792138:not(.elementor-motion-effects-element-type-background),
.elementor-202 .elementor-element.elementor-element-a792138>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2C2C2C;
}

.elementor-202 .elementor-element.elementor-element-a792138,
.elementor-202 .elementor-element.elementor-element-a792138>.elementor-background-overlay {
    border-radius: 5px 5px 5px 5px;
}

.elementor-202 .elementor-element.elementor-element-a792138 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -757px;
    margin-bottom: 72px;
    padding: 17% 16.6666% 14% 16.6666%;
}

.elementor-202 .elementor-element.elementor-element-a792138>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-202 .elementor-element.elementor-element-60e036d .agrarium-heading {
    text-align: left;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="search"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="date"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime-local"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="email"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="month"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="number"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="password"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="tel"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="text"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="time"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="url"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="week"] .elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form select {
    height: 60px;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form .wpforms-field-label-inline,
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="date"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime-local"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="email"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="month"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="number"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="password"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="search"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="tel"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="text"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="time"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="url"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="week"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form select,
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form textarea {
    color: #FFFFFF;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="radio"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="checkbox"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="date"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime-local"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="email"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="month"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="number"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="password"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="search"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="tel"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="text"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="time"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="url"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="week"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form select,
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form textarea {
    border-color: #363636;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form .select-wrap:after {
    color: #363636;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="radio"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="checkbox"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="date"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="datetime-local"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="email"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="month"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="number"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="password"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="search"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="tel"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="text"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="time"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="url"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="week"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form select,
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form textarea {
    background-color: #363636;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="submit"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form button[type="submit"],
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form .wpforms-page-button {
    color: #FFFFFF;
}

.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form input[type="submit"]:hover,
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form button[type="submit"]:hover,
.elementor-202 .elementor-element.elementor-element-3990002 div.wpforms-container.wpforms-container-full .wpforms-form .wpforms-page-button:hover {
    color: #2B2B2B;
}

.elementor-202 .elementor-element.elementor-element-3990002>.elementor-widget-container {
    margin: 25px 0px 0px 0px;
}

@media(max-width:991px) and (min-width:768px) {
    .elementor-202 .elementor-element.elementor-element-2ff35ab {
        width: 100%;
    }
}

@media(max-width:1279px) {
    .elementor-202 .elementor-element.elementor-element-ebe797c {
        margin-top: 120px;
        margin-bottom: 0px;
    }
}

@media(max-width:991px) {
    .elementor-202 .elementor-element.elementor-element-ab3c997 iframe {
        height: 403px;
    }

    .elementor-202 .elementor-element.elementor-element-2ff35ab>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-202 .elementor-element.elementor-element-a792138 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-202 .elementor-element.elementor-element-59203e9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-202 .elementor-element.elementor-element-b10d6c3>.elementor-widget-container {
        margin: 25px 0px 0px 0px;
    }

    .elementor-202 .elementor-element.elementor-element-e4ba025>.elementor-widget-container {
        margin: 25px 0px 0px 0px;
    }

    .elementor-202 .elementor-element.elementor-element-a173f3c>.elementor-widget-container {
        margin: 25px 0px 0px 0px;
    }

    .elementor-202 .elementor-element.elementor-element-3d6d5ad>.elementor-widget-container {
        margin: 0px 0px 0px -100px;
    }

    .elementor-202 .elementor-element.elementor-element-ebe797c {
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .elementor-202 .elementor-element.elementor-element-ab3c997 iframe {
        height: 353px;
    }

    .elementor-202 .elementor-element.elementor-element-2ff35ab>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0px 0px 0px 0px;
    }

    .elementor-202 .elementor-element.elementor-element-a792138 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 30px 026px 30px;
    }

    .elementor-202 .elementor-element.elementor-element-5a2629c>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}