/* * {
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
} */

:root {
    --color: #DEA611;
    --pfamily: 'Poppins', sans-serif;
    --hfamily: 'Quicksand', sans-serif;
}

.container{
    width:50rem;
}

.p-text {
    font-family: var(--pfamily);
}
.footer-text{
    font-family: var(--pfamily);
    text-transform: uppercase;
}

.heading-text {
    font-family: var(--hfamily);
}

.heading-semi-bold{
    font-family: var(--hfamily);
    font-weight: 700;
}
.hero-section-1,.hero-section-2{
    height: 25rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-section-1 {
    background-image: url("./assets/images/ekayu-main-bg.jpg");
}
.hero-section-2{
    background-image: url("./assets/images/image\ 6.png");
}
a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
    color: var(--color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(34, 34, 34);
}

.heading-light,
.heading-dark {
    color: var(--color);
}

.heading-light {
    font-weight: 400;
}

.heading-dark {
    font-weight: 600;
}

.heading-small {
    font-weight: 600;
}

.content-section {
    padding-top: 1.5rem;
}

#section-1 {
    padding-top: 7rem;
}

.info-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hr {
    border-bottom: #DEA611 0.2rem solid;
}

footer {
    padding: 2rem;
    background-color: grey;
    color: white;
}

.social-link {
    padding: 0.2rem;
}